<form [formGroup]="forgotPassword" (ngSubmit)="resetPasswordViaEmail()">
<auth-form>
  <div role="title">{{ 'auth.texts.forgot_password.title' | translate }}</div>

  <div role="form">
    <mat-form-field class="float-input">
      <input matInput placeholder="{{ 'auth.labels.generic.email_enter' | translate }}" value="" formControlName="email">
      <mat-error *ngIf="validateEmail">{{ 'auth.errors.invalid_email' | translate }}</mat-error>
    </mat-form-field>
  </div>

  <div role="actions">
    <button mat-raised-button color="primary">{{ 'auth.actions.forgot_password.send_password' | translate }}</button>
    <a class="login-b-link btn-back-icon" (click)= "goBack('login')">{{ 'generic.back' | translate }}</a>
  </div>
</auth-form>
<form>
