<auth-form>
  <div role="title">{{ 'auth.texts.reset_password.title' | translate }}</div>

  <div role="form">
    <mat-form-field class="float-input">
      <input matInput placeholder="{{ 'auth.labels.generic.password_new' | translate }}" value="">
      <mat-error *ngIf="">{{ 'auth.errors.invalid_new_password' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field class="float-input">
      <input matInput placeholder="{{ 'auth.labels.generic.password_confirm' | translate }}" value="">
      <mat-error *ngIf="">{{ 'auth.errors.invalid_confirm_password' | translate }}</mat-error>
    </mat-form-field>
  </div>

  <div role="actions">
    <button mat-raised-button color="primary">{{ 'auth.actions.reset_password.reset_btn_password' | translate }}</button>
    <a class="login-b-link btn-back-icon">{{ 'generic.back' | translate }}</a>
  </div>
</auth-form>
